.Mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  max-width: 1000px; /* Sets a maximum width for the header */
  margin: 0 auto; /* Centers the header horizontally */
  background-color: #fff; /* Adjust background color as desired */
  font-family: Arial, Helvetica, sans-serif;
}

.MainheaderTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-decoration: none;
}

.MainheaderTitle:hover {
  color: #555; /* Optional: change color on hover */
}


@media (max-width: 480px) {
  .Mainheader{
    padding: 1.5rem;
  }
}